span {
  margin: 0 0.5rem;
}

.badge {
  background-color: #d8bfd8;
  border-radius: 30px;
  padding: 0.15rem 1.25rem;
  color: #1d1d1d;
  font-weight: 700;
}

@media (max-width: 410px) {
  .badge {
    padding: 0.15rem 1rem;
  }
}
